// colors
$color-yellow: #ffcd00;
$color-yellow-dark: #ECB200;
$color-brown: #5a1404;
$color-red: #e63000;
$color-black: #000;
$color-white: #fff;

// fonts
@font-face {
  font-family: 'FontDin';
  src: local('FontDin'), url('./fonts/pfdintextcondpro-medium.woff'), format('woff');
}
