@import '@/style/_variables.scss';


.button {
  background-color: $color-yellow;
  margin-left: 20px;
  color: $color-brown;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 40px;

  &:hover {
    background-color: $color-black;
    color: $color-yellow;
    transition: 1s;
  }

  @media screen and (max-width: $mobile-s) {
    font-size: 16px;
    padding: 5px 20px;
  }
}

.buttonReg {
  color: $color-brown;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 40px;

  &:hover {
    color: $color-red;
  }
}
