@import '@/style/_variables.scss';

.link {
  font-size: 18px;
  color: $color-brown;
  font-weight: 400;
  font-style: normal;
  padding: 0 40px 0 40px;
  text-transform: uppercase;

  &:hover {
    color: $color-red;
  }
}

.button {
  background-color: $color-yellow;
  margin-left: 20px;
  color: $color-brown;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 40px;

  &:hover {
    background-color: $color-black;
    color: $color-yellow;
    transition: 1s;
  }
}

.buttonReg {
  color: $color-brown;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 40px;

  &:hover {
    color: $color-red;
  }
}
