@import '@/style/_variables.scss';

.image {
  @include background-style;
  margin-bottom: 20px;

  &.cheese1 {
    width: 168px;
    height: 275px;
    background-image: url('~/assets/slider/cheese1.svg');
  }

  &.cheese2 {
    width: 179px;
    height: 277px;
    background-image: url('~/assets/slider/cheese2.svg');
  }

  &.cheese3 {
    width: 168px;
    height: 285px;
    background-image: url('~/assets/slider/cheese3.svg');
  }

  &.cheese4 {
    width: 179px;
    height: 276px;
    background-image: url('~/assets/slider/cheese4.svg');
  }
}
